<div class="p-0 bg-secondary">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/dashboard']" class="nav-link">Dashboard</a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/profile']" class="nav-link">Profile</a>
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>

      <li class="nav-item">
        <a (click)="onLogoutClick()" class="nav-link">Logout</a>
      </li>

      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/register']" class="nav-link">Register</a>
      </li>
    </ul>
  </header>
</div>
