<div class="jumbotron text-center">
  <h1>MEAN Student Checkout App</h1>
  <p class="lead">Welcome to a custom really MEAN app.</p>
  <div>
    <a
      *ngIf="!authService.loggedIn()"
      [routerLink]="['/register']"
      class="btn btn-primary"
      >Register</a
    >
    <a
      *ngIf="!authService.loggedIn()"
      [routerLink]="['/login']"
      class="btn btn-secondary"
      >Login</a
    >
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Title Here</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi
      voluptatem quasi corporis labore nulla ad, inventore beatae amet
      voluptates ducimus aperiam. Facere porro quis voluptas nulla quae nisi
      consequatur.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Title Here</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi
      voluptatem quasi corporis labore nulla ad, inventore beatae amet
      voluptates ducimus aperiam. Facere porro quis voluptas nulla quae nisi
      consequatur.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Title Here</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi
      voluptatem quasi corporis labore nulla ad, inventore beatae amet
      voluptates ducimus aperiam. Facere porro quis voluptas nulla quae nisi
      consequatur.
    </p>
  </div>
</div>
